.image-viewer {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;

  &__inner-wrapper {
    position: relative;
    margin: 16px;
    overflow: hidden;

    @include large-up {
      margin: 16px 0;
    }
  }

  &__header {
    position: fixed;
    max-width: 1140px;
    margin: 0 16px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    padding: 30px 0;
    box-shadow: 0 1px 0 $colour-silver;
    background-color: $colour-white;

    @include large-up {
      margin: 0 auto;
    }
  }

  &__title {
    float: left;
    color: $colour-red;
    font-size: 20px;
    text-align: center;
    line-height: 2.6rem;
    width: 100%;

    &--narrow {
      //68px = width of image-viewer__btn
      width: calc(100% - 78px);
    }
  }

  &__btn {
    float: left;
    left: 0;
    cursor: pointer;
    border: 2px solid $colour-red;
    background-color: $colour-red;
    color: $colour-white;
    font-size: 14px;
    font-weight: bold;

    &:hover,
    &:focus {
      background-color: $colour-white;
      color: $colour-red;
    }

    &--hidden {
      display: none;
    }
  }
}
