.image-viewer {
  font-family: 'helvetica', sans-serif;
}

.image-item {
  width: 100%;

  @media (min-width: 600px) {
    display: inline-flex;
  }

  &__link{
    @media (min-width: 600px) {
      width: 40%;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__info {
    width: 60%;
  }

  &__info-item {
    cursor: pointer;
  }
}

.loading {
  display: block;
  width: 98px;
  margin: 0 auto;
  font-size: 18px;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 40px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 40px;
  }
}